.newsseller_Container {
  position: relative;

  div {
    img {
      position: relative;
      top: 0.5rem;
    }

    p {
      color: $color-blanco;
    }
  }
}

.container2 {
  position: absolute;
  top: 4rem;
  left: 22.625rem;
  color: white;
  width: 73.125rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;

  .Dp {
    width: 32%;

    .Nwt {
      font-family: 'Libre Franklin';
      font-weight: 700;
      font-size: 2.25rem;
      margin: 0 auto;
    }
    
    p {
      font-family: 'Work Sans';
      font-size: 1.125rem;

      span {
        color: $color-naranja-oscuro;
      }
    }
  }
}

.email_i {
  height: 2.625rem;
  width: 35.625rem;
  padding: 0;
  border: none;
  margin-left: .3125rem;
}

.email_i::placeholder {
  font-size: 1.125rem;
  color: #303030;
  opacity: 0.3;
}

.subs{
    height: 2.625rem;
    width: 10.625rem;
    margin-left: .625rem;
    color: $color-blanco;
    background-color:$color-negro;
    font-size: 18px;
    border: none;
}