.newsseller_Container {
  position: relative;

  p {
    color: $color-blanco;

    img {
      position: relative;
      top: 1.5rem;

    }
  }
}

.container2 {
  position: absolute;
  top: 92px;
  left: 362px;
  color: white;
  width: 1170px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;


  .Dp {
      width: 32%;
  
      .Nwt {
        font-family: 'Libre Franklin';
        font-weight: 700;
        font-size: 36px;
        margin: 0 auto;
      }
  
      p {
        font-family: 'Work Sans';
        font-size: 18px;
  
        span {
          color: $color-naranja-oscuro;
        }
      }
  }
}

.email_i {
  height: 2.625rem;
  width: 35.625rem;
  margin-left: 5px;
}

.email_i::placeholder {
  font-size: 18px;
  color: #303030;
  opacity: 0.3;
}

.subs{
    height: 2.625rem;
    width: 10.625rem;
    margin-left: 10px;
}