body {
  width: 120rem;
  margin: 0 auto;
}

footer {
  background-color: #303030;
  color: white;
  font-family: "Libre Franklin";
}
footer li {
  list-style: none;
}

.footer_Principal_Texto {
  color: #E27D60;
  margin: 0.625rem 0;
  padding: 1.875rem 0;
}

.footer_container {
  display: flex;
  justify-content: space-between;
  margin: 0 auto 1.25rem;
  width: 73.125rem;
}
.footer_container .icon_social {
  display: flex;
  align-items: center;
}
.footer_container img {
  margin: 0.625rem;
}

.icon_flex {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.icon_flex img {
  margin: 0.625rem 0px;
}

.icon_flex p {
  margin-left: 1.25rem;
}

.newsseller_Container {
  position: relative;
}
.newsseller_Container div img {
  position: relative;
  top: 0.5rem;
}
.newsseller_Container div p {
  color: #ffffff;
}

.container2 {
  position: absolute;
  top: 4rem;
  left: 22.625rem;
  color: white;
  width: 73.125rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}
.container2 .Dp {
  width: 32%;
}
.container2 .Dp .Nwt {
  font-family: "Libre Franklin";
  font-weight: 700;
  font-size: 2.25rem;
  margin: 0 auto;
}
.container2 .Dp p {
  font-family: "Work Sans";
  font-size: 1.125rem;
}
.container2 .Dp p span {
  color: #E27D60;
}

.email_i {
  height: 2.625rem;
  width: 35.625rem;
  margin-left: 0.3125rem;
}

.email_i::placeholder {
  font-size: 1.125rem;
  color: #303030;
  opacity: 0.3;
}

.subs {
  height: 2.625rem;
  width: 10.625rem;
  margin-left: 0.625rem;
  color: #ffffff;
  background-color: #303030;
  font-size: 18px;
  border: none;
}

header {
  display: flex;
  height: 6.5rem;
  width: 73.125rem;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}
header img {
  width: 6.1875rem;
  height: 1.25rem;
}
header .nav-principal ul {
  list-style: none;
  display: flex;
}
header .nav-principal ul li {
  padding: 0 0.9375rem;
}
header .nav-principal ul li a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #303030;
  font-family: "Libre Franklin";
  font-style: normal;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.1875rem;
  letter-spacing: 0.02rem;
}
header .nav-principal ul li a:hover {
  color: #E27D60;
}
header .nav-principal ul li a img {
  width: 1.1875rem;
  height: 1.1875rem;
}
header .nav-header ul {
  list-style: none;
  display: flex;
}
header .nav-header ul li {
  padding: 0 0.625rem;
}
header .nav-header ul li a {
  display: flex;
  align-items: center;
}
header .nav-header ul li a img {
  width: 1.5rem;
  height: 1.5rem;
}

.our_team_people li {
  list-style: none;
}

.our_team {
  width: 73.125rem;
  margin: 0 auto;
}

.our_team h3 {
  font-size: 1.25rem;
  font-family: "Libre Franklin", sans-serif;
  margin-bottom: 0.9375rem;
}

.our_team p {
  font-family: "Work Sans", sans-serif;
  color: #303030;
  opacity: 0.5;
}

.our_team img {
  width: 16.875rem;
  height: 22rem;
}

.our_team_title {
  text-align: center;
  margin: 0 auto;
}

.sub_up {
  margin-bottom: 0.625rem;
  font-family: "Work Sans";
  font-size: 1rem;
  color: #303030;
}

.sub_down {
  margin-bottom: 1.25rem;
  gap: 1.25rem;
  font-family: "Libre Franklin", sans-serif;
  font-size: 2.25rem;
  color: #E27D60;
}

.sub_down_2 {
  margin-bottom: 2.5rem;
  font-size: 1.125rem;
}

.our_team_people ul {
  padding: 0;
}

.our_team_people li {
  list-style: none;
}

.our_team_people_row1 {
  display: flex;
  gap: 1.875rem;
  margin-bottom: 2.125rem;
}

.our_team_people_row2 {
  display: flex;
  gap: 1.875rem;
}

.our_team_people_text {
  margin-left: 1.25rem;
}

.show_more {
  margin: 0 31.25rem;
  margin-top: 1.25rem;
  background-color: #303030;
  color: white;
  font-family: "Libre Franklin", sans-serif;
  font-size: 1.125rem;
  padding: 0.625rem 2.25rem 0.625rem 2.25rem;
  border-radius: 0.1875rem;
  border: #303030;
}

.headline {
  background: linear-gradient(to right, #ffffff 0%, #ffffff 19%, #e6e6e6 19%, #e6e6e6 100%);
  height: 9rem;
  width: 120rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.headline h3 {
  margin: 0;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
}
.headline h1 {
  margin: 0;
  color: #E27D60;
  font-family: "Libre Franklin";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
}

.giveusavisit {
  margin: 6.25rem 0;
  background: linear-gradient(to left, #ffffff 0%, #ffffff 35%, #e6e6e6 35%, #e6e6e6 100%);
  height: 460px;
  width: 1920px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.giveusavisit .giveus-content {
  display: flex;
  width: 1170px;
  height: 340px;
  gap: 100px;
  align-items: center;
}
.giveusavisit .giveus-text {
  display: flex;
  flex-direction: column;
  height: 340px;
  justify-content: space-evenly;
  align-items: flex-end;
  gap: 0.0625rem;
}
.giveusavisit h3 {
  text-align: right;
  margin: 0;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #303030;
}
.giveusavisit h2 {
  text-align: right;
  margin: 0;
  font-family: "Libre Franklin";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  letter-spacing: 0.02em;
  color: #E27D60;
}
.giveusavisit p {
  margin: 0;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: right;
  color: #303030;
  opacity: 0.8;
}
.giveusavisit .giveus-boton {
  background-color: #303030;
  color: white;
  font-family: "Libre Franklin", sans-serif;
  font-size: 1.125rem;
  padding: 0.625rem 2.25rem 0.625rem 2.25rem;
  border-radius: 0.1875rem;
  border: #303030;
}

.giveusavisitb {
  margin: 6.25rem 0;
  background: linear-gradient(to left, #ffffff 0%, #ffffff 35%, #e6e6e6 35%, #e6e6e6 100%);
  height: 691px;
  width: 1920px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.giveusavisitb .giveus-text {
  display: flex;
  flex-direction: column;
  height: 350px;
  justify-content: space-evenly;
  align-items: flex-end;
}
.giveusavisitb ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.giveusavisitb .giveus-img {
  display: flex;
  flex-wrap: wrap;
  gap: 3px;
}

.trataments .trataments_container {
  width: 73.125rem;
  margin: 6.25rem auto;
}
.trataments .trataments_container .trataments_titles {
  text-align: center;
  margin-bottom: 1.9375rem;
}
.trataments .trataments_container .trataments_titles .tratmens_T {
  font-family: "Libre Franklin";
  font-size: 2.25rem;
  font-weight: 700;
  letter-spacing: 0.02em;
  color: #E27D60;
  margin: 0 auto;
}
.trataments .trataments_container .trataments_titles .tratmens_P {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin: 0.5rem auto;
}

.trataments_images {
  display: flex;
  justify-content: space-between;
}

/*# sourceMappingURL=estilos.css.map */
