.blog_landing {
    width: 73.125rem;
    margin: 0 auto;
    text-align: center;
    margin-top: 6.25rem;
    margin-bottom: 6.25rem;

    h2 {
        font-size: 2.25rem;
        font-family: 'Libre Franklin', sans-serif;
        color: #E27D60;
        margin-bottom: 2.5rem;
        margin-top: 0;
    }

    .blog_landing_p {
        font-family: 'Work Sans', sans-serif;
        color: #303030;
        opacity: 0.6;
        font-size: 1rem;
        margin-bottom: 1.25rem;
    }

    .blog_landing_img {
        margin-top: 2.5rem;
    }
}

.blog_landing_options {
    display: flex;
    gap: 1.25rem;

    h3 {
        font-size: 1.25rem;
        font-family: 'Libre Franklin', sans-serif;
        color: #E27D60;
        margin: 0;
    }
}

.blog_landing_types {
    border: solid .1875rem #dad9d9e3;
    border-radius: .1875rem;

    .blog_landing_types_img2 {
        position: relative;
        bottom: 1.25rem;
    }
}

.blog_landing_types_text {
    text-align: left;
    padding-left: 1.625rem;
    position: relative;
    bottom: 1.875rem;
}

.blog_landing_types_text_year {
    display: flex;
    align-items: center;
    gap: .3125rem;
    margin-top: .625rem;

    .blog_landing_types_text_year_2 {
        font-family: 'Work Sans', sans-serif;
        color: #303030;
        opacity: 0.6;
        font-size: .625rem;
    }
}

.blog_landing_types_text_year img {
    width: .625rem;
    height: .625rem;
}

.blog_landing_types_text_read_more {
    display: flex;
    align-items: center;
    gap: .4375rem;
    font-size: 1.125rem;
    font-family: 'Libre Franklin', bold;
    color: #303030;
    text-decoration: underline;
    margin: 0;
    margin-top: .5rem;

}

.blog_landing_types_text_read_more img {
    width: 1.25rem;
    height: 1.25rem;
}