footer{
  background-color: #303030;
  color: white;
  font-family: 'Libre Franklin';
   li{
    list-style: none;
   }
}

.footer-main-text{
  color: $color-naranja-oscuro;
  margin: .625rem 0;
  padding: 1.875rem 0;
}

.footer-container{
  display: flex;
  justify-content: space-between;
  margin: 0 auto 1.25rem;
  width: 73.125rem;
  .icon-social{
    display: flex;
    align-items: center;
  }
    img{
      margin: .625rem;
    }
}

.icon-flex{
  display: flex;
  align-items: center;
  justify-content: flex-start;
 img{
    margin: .625rem 0px;
  }
}

.icon-flex p{
  margin-left: 1.25rem;
}
