header {
  display: flex;
  height: 6.5rem;
  width: 73.125rem;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;

  img {
    width: 6.1875rem;
    height: 1.25rem;
  }
}

.main-nav__list{
  list-style: none;
  display: flex;
}

.main-nav__text{
  padding: 0 .625rem;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: $color-negro;
  font-family: 'Libre Franklin';
  font-style: normal;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.1875rem;
  letter-spacing: 0.02rem;
  &:hover {
    color: $color-naranja-oscuro;}
}

.main-nav__arrow-nav{
  width: 1.1875rem;
  height: 1.1875rem;
}

.main-nav__icon{
  width: 1.5rem;
  height: 1.5rem;
}