.landing {
  position: relative;
  width: 1920px;
  height: 1043px;
  margin-bottom: 155px;

  .card {
    width: 890px;
    height: 311px;
    position: absolute;
    left: 26.82%;
    right: 61.2%;
    top: 70.18%;
    bottom: 0%;
    display: flex;
    gap: 100px;
    margin: 0;
    justify-content: center;
    article {
      width: 14.375rem;
      height: 19.4375rem;
  
      h2 {
        font-family: 'Libre Franklin';
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 44px;
        text-align: center;
        letter-spacing: 0.02em;
      }
  
      p {
        font-family: 'Work Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        text-align: center;
      }
    }
  }
}

.landing__img {
  position: absolute;
  left: 0%;
  right: 50.78%;
  top: 0%;
  bottom: 37.78%;
}
.landing__background {
  left: 19.53%;
  right: 0%;
  top: 0%;
  bottom: 19.94%;
  width: 96.5625rem;
  height: 52.1875rem;
  background-color: $color-naranja-claro;
  opacity: 0.5;
  border-radius: 0px 0px 0px 200px;
  position: absolute;
}

.landing__text {
  width: 500px;
  height: 339px;
  position: absolute;
  left: 1045px;
  top: 202px;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  gap: 2.5rem;

  h1 {
    font-family: 'Libre Franklin';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;
    letter-spacing: 0.02em;
    color: $color-negro;
    margin: 0;

    span {
      color: $color-naranja-oscuro;
    }
  }

  p {
    color: $color-negro;
    opacity: 0.5;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    margin: 0;
  }

  a {
    background-color: #303030;
    color: white;
    font-family: "Libre Franklin", sans-serif;
    font-size: 1.125rem;
    text-decoration: none;
    padding: 0.625rem 2.25rem 0.625rem 2.25rem;
    border-radius: 0.1875rem;
    border: #303030;
  }
}

.landing__scroll {
  position: absolute;
  left: 44.64%;
  right: 44.64%;
  top: 61.46%;
  bottom: 36.82%;
}

.card {
  width: 890px;
  height: 311px;
  display: flex;
  gap: 100px;
  margin: 0 auto;
  justify-content: center;
  margin-bottom: 200px;
  margin-top: 125px;
  
  article {
    width: 14.375rem;
    height: 19.4375rem;

    h2 {
      font-family: 'Libre Franklin';
      font-style: normal;
      font-weight: 700;
      font-size: 36px;
      line-height: 44px;
      text-align: center;
      letter-spacing: 0.02em;
    }

    p {
      font-family: 'Work Sans';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      text-align: center;
    }
  }
}