.news-box {
  position: relative;

  .news-box__fond{
    height: 275px;
    img {
      position: relative;
      display: block;
    }

    p {
      color: $color-blanco;
    }
  }
}

.news-box2 {
  position: absolute;
  top: 4rem;
  left: 22.625rem;
  color: white;
  width: 73.125rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;

  .news-text {
    width: 32%;

    .news-text__transparent{
      margin: 0;
      font-family: 'Work Sans';
      font-style: normal;
      font-weight: 300;
      font-size: 1rem;
      line-height: 1.1875rem;
      letter-spacing: 0.1em;
      text-transform: uppercase;
    }

    .news-text__join {
      font-family: 'Libre Franklin';
      font-style: normal;
      font-weight: 700;
      font-size: 36px;
      line-height: 44px
    }

    p {
      font-family: 'Work Sans';
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 21px;
      margin: 20px auto;
    }

    span {
      color: $color-naranja-oscuro;
    }
  }
}

.form__email {
  height: 2.625rem;
  width: 35.625rem;
  padding: 0;
  border: none;
  margin-left: .3125rem;
}

.form__email::placeholder {
  font-size: 1.125rem;
  color: #303030;
  opacity: 0.3;
}

.form__button{
  height: 2.625rem;
  width: 10.625rem;
  margin-left: .625rem;
  color: $color-blanco;
  background-color: $color-negro;
  font-size: 18px;
  border: none;
}