.product-div {
  width: 1170px;
  height: 742px;
  margin: 0px auto;
  text-align: center;
}

.product-p {
  margin-bottom: .625rem;
  font-family: 'Work Sans';
  font-size: 1rem;
  color: #303030;
}

.product-h2 {
  margin-bottom: 1.25rem;
  gap: 1.25rem;
  font-family: 'Libre Franklin', sans-serif;
  font-size: 2.25rem;
  color: #E27D60;
}

.product-list2 {
  display: flex;
  list-style: none;
  gap: 30px;
  margin-top: 50px;
}