.our-services {
  background-color: #E6E6E6;
  height: 48.875rem;
  width: 120rem;
  align-items: center;
  margin: 0 auto;
  padding-bottom: 3.125rem;
  margin-top: 6.25rem;
}

.our-servs-up {
  display: flex;
  padding-top: 6.25rem;
  padding-bottom: 3.75rem;
  width: 73.125rem;
  margin: 0 auto;
  gap: 1.875rem;
}

.our-servs-up-img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: end;
}

.our-servs-up-img-text-our-reviews {
  font-family: 'Work Sans', sans-serif, light;
  font-size: 1rem;
  color: #303030;
  margin-bottom: .625rem;
}

.our-servs-up-img-text {
  font-family: 'Work Sans', sans-serif;
  font-size: 1.125rem;
  color: #303030;
}

.our-servs-up-img h2 {
  font-family: 'Libre Franklin', sans-serif;
  font-size: 2.25rem;
  color: #E27D60;
  margin: 0;
}

.our-servs-up img {
  height: 17.5rem;
  width: 35.625rem;
}

.our-servs-comments {
  display: flex;
  width: 73.125rem;
  height: 11.5rem;
  margin: 0 auto;
  gap: 1.875rem;
}

.our-servs-text-whit {
  background-color: white;
  border: solid #d0ceceaa .1875rem;
  border-radius: .1875rem;
  padding: 1.75rem;
  font-family: 'Work Sans', sans-serif;
  font-size: .875rem;
  color: #303030;
}

.our-servs-text-down-img {
  display: flex;
  align-items: center;
  gap: 1.25rem;
}

.our-servs-text-down-img img {
  width: 3.125rem;
  height: 3.125rem;
}

.our-servs-text-down-img-name h3 {
  margin-bottom: .5625rem;
  font-family: 'Libre Franklin', sans-serif;
  font-size: .875rem;
  color: #E27D60;
}

.our-servs-text-down-img-name p {
  margin-top: 0;
  font-family: 'Work Sans', sans-serif, light;
  font-size: .75rem;
  color: #303030;
  opacity: 0.5;
}

.our-servs-img {
  width: 73.125rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
  margin-top: 2.5rem;
  margin-left: 30.125rem;
}

.our-servs-img img {
  margin-top: 2.5rem;
  margin-left: 23.25rem;
}