.news-box2{
  .dp2 {
    width: 370px;
    height: 135px;
    position: absolute;
    left: 96px;

    .light {
      margin: 0;
      font-family: 'Work Sans';
      font-style: normal;
      font-weight: 300;
      font-size: 1rem;
      line-height: 1.1875rem;
      letter-spacing: 0.1em;
      text-transform: uppercase;
    }
  }
}

.ctn-lk {
  width: 65rem;
  height: 11.625rem;
}

.input-colum {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 37.3125rem;
  gap: 2.5rem;

  .ip {
    gap: 1.25rem;
    display: flex;
    flex-wrap: wrap;
  }
}

.our-offer {
  height: 325px;

  .our-offer-img {
    height: 325px;
  }
}