.product-toolbar {
    width: 1920px;
    height: 77px;
    background-color: #E27D60;
    position: relative;
    top: -18px;
  }
  
  .lupita {
    position: absolute;
    top: 25px;
    right: 380px;
  }
  
  .product-list {
    list-style: none;
    display: flex;
    justify-content: center;
    font-family: "Libre Franklin";
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    gap: 25px;
    position: relative;
    top: 7px;
    right: 135px;
  }
  
  .product-list a {
    text-decoration: none;
    color: white;
    letter-spacing: 0.02em;
  }