.treatments {
  .treatments-container {
    width: 73.125rem;
    margin: 6.25rem auto;

    .treatments-titles {
      text-align: center;
      margin-bottom: 1.9375rem;

      .treatmens-t {
        font-family: 'Libre Franklin';
        font-size: 2.25rem;
        font-weight: 700;
        letter-spacing: 0.02em;
        color: #E27D60;
        margin: 0 auto;
      }

      .treatmens-p {
        font-family: 'Work Sans';
        font-style: normal;
        font-weight: 300;
        font-size: 1rem;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        margin: .5rem auto;
      }
    }
  }
}

.treatments-images {
  display: flex;
  justify-content: space-between;
}