body {
  width: 120rem;
  margin: 0 auto;
}

.big-div {
  width: 1170px;
  height: 1635px;
  align-items: center;
  margin: 0 auto;
  margin-top: 100px;
}

.big-div p {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 21px;
  color: #303030;
}

.article-img {
  width: 670px;
  height: 368px;
  position: relative;
  right: 5px;
}

.article-div {
  display: flex;
  width: 470px;
  height: 399px;
  float: right;
  flex-direction: column;
}

.article-div3 {
  margin-top: 118px;
  margin-left: 200px;
}

.article-content {
  width: 770px;
  height: 115px;
  border: 1px solid #FAEEE5;
  background-color: #FAEEE5;
  margin-left: 200px;
  text-align: center;
}

.article-content p {
  font-size: 16px;
  line-height: 19px;
  color: #303030;
  margin-top: 26px;
}

.article-customer {
  margin-left: 200px;
  margin-top: 10px;
}

.article-text2 {
  margin-top: 50px;
}

.big-div2 {
  width: 1170px;
  height: 738px;
  align-items: center;
  margin: 0 auto;
}

.article-headlines {
  text-align: center;
}

.article-posts {
  display: flex;
  gap: 31px;
}

.article-article {
  width: 369px;
  height: 466px;
  border: 2px #E6E6E6 solid;
}

.article-article a {
  color: black;
  font-family: "Libre Franklin";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
}

.article-img2 {
  width: 369px;
  height: 250px;
}

.article-h4 {
  margin-bottom: 1.25rem;
  gap: 1.25rem;
  font-family: "Libre Franklin", sans-serif;
  font-size: 20px;
  color: #E27D60;
}

.article-p {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-align: justify;
}

.article-box {
  margin-left: 10px;
  margin-right: 5px;
}

.aks-container {
  margin-top: 6.25rem;
  position: relative;
  width: 120rem;
  height: 37.5rem;
}
.aks-container .ask-text {
  position: absolute;
  width: 66.9375rem;
  height: 25rem;
  margin: 0 auto;
  left: 23.4375rem;
  top: 6.25rem;
}
.aks-container .ask-text .just-text {
  position: absolute;
  width: 37.5625rem;
  height: 16rem;
  top: 4.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.aks-container .ask-text .just-text h3 {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.1875rem;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin: 0;
  color: #ffffff;
}
.aks-container .ask-text .just-text h2 {
  font-family: "Libre Franklin";
  font-style: normal;
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 2.75rem;
  letter-spacing: 0.02em;
  margin: 0;
  color: #ffffff;
}
.aks-container .ask-text .just-text p {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.1875rem;
  margin: 0;
  opacity: 0.5;
  color: #ffffff;
}
.aks-container .ask-text .forpos {
  background-color: #ffffff;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  position: absolute;
  width: 21.25rem;
  height: 25rem;
  padding-left: 1.875rem;
  left: 700px;
}

.emi {
  width: 310px;
  height: 42px;
}

.subs2 {
  height: 2.625rem;
  width: 10.625rem;
  color: #ffffff;
  background-color: #303030;
  font-size: 18px;
  border: none;
}

.ti-cont {
  font-family: "Libre Franklin";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.02em;
}

.check {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
}

.n1 {
  color: #E27D60;
}

.blog_landing {
  width: 73.125rem;
  margin: 0 auto;
  text-align: center;
  margin-top: 6.25rem;
  margin-bottom: 6.25rem;
}
.blog_landing h2 {
  font-size: 2.25rem;
  font-family: "Libre Franklin", sans-serif;
  color: #E27D60;
  margin-bottom: 2.5rem;
  margin-top: 0;
}
.blog_landing .blog_landing_p {
  font-family: "Work Sans", sans-serif;
  color: #303030;
  opacity: 0.6;
  font-size: 1rem;
  margin-bottom: 1.25rem;
}
.blog_landing .blog_landing_img {
  margin-top: 2.5rem;
}

.blog_landing_options {
  display: flex;
  gap: 1.25rem;
}
.blog_landing_options h3 {
  font-size: 1.25rem;
  font-family: "Libre Franklin", sans-serif;
  color: #E27D60;
  margin: 0;
}

.blog_landing_types {
  border: solid 0.1875rem #dad9d9e3;
  border-radius: 0.1875rem;
}
.blog_landing_types .blog_landing_types_img2 {
  position: relative;
  bottom: 1.25rem;
}

.blog_landing_types_text {
  text-align: left;
  padding-left: 1.625rem;
  position: relative;
  bottom: 1.875rem;
}

.blog_landing_types_text_year {
  display: flex;
  align-items: center;
  gap: 0.3125rem;
  margin-top: 0.625rem;
}
.blog_landing_types_text_year .blog_landing_types_text_year_2 {
  font-family: "Work Sans", sans-serif;
  color: #303030;
  opacity: 0.6;
  font-size: 0.625rem;
}

.blog_landing_types_text_year img {
  width: 0.625rem;
  height: 0.625rem;
}

.blog_landing_types_text_read_more {
  display: flex;
  align-items: center;
  gap: 0.4375rem;
  font-size: 1.125rem;
  font-family: "Libre Franklin", bold;
  color: #303030;
  text-decoration: underline;
  margin: 0;
  margin-top: 0.5rem;
}

.blog_landing_types_text_read_more img {
  width: 1.25rem;
  height: 1.25rem;
}

footer {
  background-color: #303030;
  color: white;
  font-family: "Libre Franklin";
}

.footer-box {
  display: flex;
  justify-content: space-between;
  margin: 0 auto 1.25rem;
  width: 73.125rem;
}
.footer-box .footer-box__logo {
  display: flex;
  align-items: center;
}
.footer-box .footer-icon {
  display: flex;
  align-items: center;
}
.footer-box .footer-icon .footer-icon-social {
  margin: 0.625rem;
}
.footer-box .footer-main {
  display: flex;
}
.footer-box .footer-main li {
  list-style: none;
}
.footer-box .footer-main .footer-main-text {
  color: #E27D60;
  margin: 0.625rem 0;
  padding: 1.875rem 0;
}
.footer-box .footer-main .footer-main-icon {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.footer-box .footer-main .footer-main-icon img {
  margin: 0.625rem 0px;
}

.icon-flex p {
  margin-left: 1.25rem;
}

.give-us-a-visit {
  margin: 6.25rem 0;
  background: linear-gradient(to left, #ffffff 0%, #ffffff 35%, #e6e6e6 35%, #e6e6e6 100%);
  height: 460px;
  width: 1920px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.give-us-a-visit .give-us-content {
  display: flex;
  width: 1170px;
  height: 340px;
  gap: 100px;
  align-items: center;
}
.give-us-a-visit .give-us-text {
  display: flex;
  flex-direction: column;
  height: 340px;
  justify-content: space-evenly;
  align-items: flex-end;
  gap: 0.0625rem;
}
.give-us-a-visit h3 {
  text-align: right;
  margin: 0;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #303030;
}
.give-us-a-visit h2 {
  text-align: right;
  margin: 0;
  font-family: "Libre Franklin";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  letter-spacing: 0.02em;
  color: #E27D60;
}
.give-us-a-visit p {
  margin: 0;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: right;
  color: #303030;
  opacity: 0.8;
}
.give-us-a-visit .give-us-boton {
  background-color: #303030;
  color: white;
  font-family: "Libre Franklin", sans-serif;
  font-size: 1.125rem;
  padding: 0.625rem 2.25rem 0.625rem 2.25rem;
  border-radius: 0.1875rem;
  border: #303030;
}

.give-us-a-visitb {
  margin: 6.25rem 0;
  background: linear-gradient(to left, #ffffff 0%, #ffffff 35%, #e6e6e6 35%, #e6e6e6 100%);
  height: 691px;
  width: 1920px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.give-us-a-visitb .give-us-text {
  display: flex;
  flex-direction: column;
  height: 350px;
  justify-content: space-evenly;
  align-items: flex-end;
}
.give-us-a-visitb ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.give-us-a-visitb .give-us-img {
  display: flex;
  flex-wrap: wrap;
  gap: 3px;
}

header {
  display: flex;
  height: 6.5rem;
  width: 73.125rem;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}
header img {
  width: 6.1875rem;
  height: 1.25rem;
}
header .main-nav ul {
  list-style: none;
  display: flex;
}
header .main-nav ul li {
  padding: 0 0.9375rem;
}
header .main-nav ul li a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #303030;
  font-family: "Libre Franklin";
  font-style: normal;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.1875rem;
  letter-spacing: 0.02rem;
}
header .main-nav ul li a:hover {
  color: #E27D60;
}
header .main-nav ul li a img {
  width: 1.1875rem;
  height: 1.1875rem;
}
header .nav-header ul {
  list-style: none;
  display: flex;
}
header .nav-header ul li {
  padding: 0 0.625rem;
}
header .nav-header ul li a {
  display: flex;
  align-items: center;
}
header .nav-header ul li a img {
  width: 1.5rem;
  height: 1.5rem;
}

.headline {
  background: linear-gradient(to right, #ffffff 0%, #ffffff 19%, #e6e6e6 19%, #e6e6e6 100%);
  height: 9rem;
  width: 120rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.headline h3 {
  margin: 0;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
}
.headline h1 {
  margin: 0;
  color: #E27D60;
  font-family: "Libre Franklin";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
}

.img_partners {
  width: 73.125rem;
  margin: 0 auto;
  margin-top: 60px;
  display: flex;
  justify-content: space-evenly;
}

.landing {
  position: relative;
  width: 1920px;
  height: 1043px;
  margin-bottom: 155px;
}
.landing .landing-img {
  position: absolute;
  left: 0%;
  right: 50.78%;
  top: 0%;
  bottom: 37.78%;
}
.landing .landing-background {
  left: 19.53%;
  right: 0%;
  top: 0%;
  bottom: 19.94%;
  width: 96.5625rem;
  height: 52.1875rem;
  background-color: #E8A87C;
  opacity: 0.5;
  border-radius: 0px 0px 0px 200px;
  position: absolute;
}
.landing .landing-text {
  width: 500px;
  height: 339px;
  position: absolute;
  left: 1045px;
  top: 202px;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  gap: 2.5rem;
}
.landing .landing-text h1 {
  font-family: "Libre Franklin";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 58px;
  letter-spacing: 0.02em;
  color: #303030;
  margin: 0;
}
.landing .landing-text h1 span {
  color: #E27D60;
}
.landing .landing-text p {
  color: #303030;
  opacity: 0.5;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  margin: 0;
}
.landing .landing-text a {
  background-color: #303030;
  color: white;
  font-family: "Libre Franklin", sans-serif;
  font-size: 1.125rem;
  text-decoration: none;
  padding: 0.625rem 2.25rem 0.625rem 2.25rem;
  border-radius: 0.1875rem;
  border: #303030;
}
.landing .landing-scroll {
  position: absolute;
  left: 44.64%;
  right: 44.64%;
  top: 61.46%;
  bottom: 36.82%;
}
.landing .card {
  width: 890px;
  height: 311px;
  position: absolute;
  left: 26.82%;
  right: 61.2%;
  top: 70.18%;
  bottom: 0%;
  display: flex;
  gap: 100px;
  margin: 0;
}
.landing .card article {
  width: 14.375rem;
  height: 19.4375rem;
}
.landing .card article h2 {
  font-family: "Libre Franklin";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  text-align: center;
  letter-spacing: 0.02em;
}
.landing .card article p {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
}

.card {
  display: flex;
  justify-content: center;
  gap: 100px;
  margin: 150px 0;
}
.card article {
  width: 14.375rem;
  height: 19.4375rem;
}
.card article h2 {
  font-family: "Libre Franklin";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  text-align: center;
  letter-spacing: 0.02em;
}
.card article p {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
}

.news-box {
  position: relative;
}
.news-box .news-box__fond {
  height: 275px;
}
.news-box .news-box__fond img {
  position: relative;
  display: block;
}
.news-box .news-box__fond p {
  color: #ffffff;
}

.news-box2 {
  position: absolute;
  top: 4rem;
  left: 22.625rem;
  color: white;
  width: 73.125rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}
.news-box2 .news-text {
  width: 32%;
}
.news-box2 .news-text .news-text__transparent {
  margin: 0;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.1875rem;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.news-box2 .news-text .news-text__join {
  font-family: "Libre Franklin";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
}
.news-box2 .news-text p {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  margin: 20px auto;
}
.news-box2 .news-text span {
  color: #E27D60;
}

.form__email {
  height: 2.625rem;
  width: 35.625rem;
  padding: 0;
  border: none;
  margin-left: 0.3125rem;
}

.form__email::placeholder {
  font-size: 1.125rem;
  color: #303030;
  opacity: 0.3;
}

.form__button {
  height: 2.625rem;
  width: 10.625rem;
  margin-left: 0.625rem;
  color: #ffffff;
  background-color: #303030;
  font-size: 18px;
  border: none;
}

.product-div {
  width: 1170px;
  height: 742px;
  margin: 0px auto;
  text-align: center;
}

.product-p {
  margin-bottom: 0.625rem;
  font-family: "Work Sans";
  font-size: 1rem;
  color: #303030;
}

.product-h2 {
  margin-bottom: 1.25rem;
  gap: 1.25rem;
  font-family: "Libre Franklin", sans-serif;
  font-size: 2.25rem;
  color: #E27D60;
}

.product-list2 {
  display: flex;
  list-style: none;
  gap: 30px;
  margin-top: 50px;
}

.news-box2 .news-text2 {
  width: 370px;
  height: 135px;
  position: absolute;
  left: 96px;
}
.news-box2 .news-text2 .news-text__transparent {
  margin: 0;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.1875rem;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.ctn-lk {
  width: 65rem;
  height: 11.625rem;
}

.input-colum {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 37.3125rem;
  gap: 2.5rem;
}
.input-colum .ip {
  gap: 1.25rem;
  display: flex;
  flex-wrap: wrap;
}

.our-offer {
  height: 325px;
}
.our-offer .our-offer-img {
  height: 325px;
}

.our-services {
  background-color: #E6E6E6;
  height: 48.875rem;
  width: 120rem;
  align-items: center;
  margin: 0 auto;
  padding-bottom: 3.125rem;
  margin-top: 6.25rem;
}

.our-servs-up {
  display: flex;
  padding-top: 6.25rem;
  padding-bottom: 3.75rem;
  width: 73.125rem;
  margin: 0 auto;
  gap: 1.875rem;
}

.our-servs-up-img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: end;
}

.our-servs-up-img-text-our-reviews {
  font-family: "Work Sans", sans-serif, light;
  font-size: 1rem;
  color: #303030;
  margin-bottom: 0.625rem;
}

.our-servs-up-img-text {
  font-family: "Work Sans", sans-serif;
  font-size: 1.125rem;
  color: #303030;
}

.our-servs-up-img h2 {
  font-family: "Libre Franklin", sans-serif;
  font-size: 2.25rem;
  color: #E27D60;
  margin: 0;
}

.our-servs-up img {
  height: 17.5rem;
  width: 35.625rem;
}

.our-servs-comments {
  display: flex;
  width: 73.125rem;
  height: 11.5rem;
  margin: 0 auto;
  gap: 1.875rem;
}

.our-servs-text-whit {
  background-color: white;
  border: solid #d0ceceaa 0.1875rem;
  border-radius: 0.1875rem;
  padding: 1.75rem;
  font-family: "Work Sans", sans-serif;
  font-size: 0.875rem;
  color: #303030;
}

.our-servs-text-down-img {
  display: flex;
  align-items: center;
  gap: 1.25rem;
}

.our-servs-text-down-img img {
  width: 3.125rem;
  height: 3.125rem;
}

.our-servs-text-down-img-name h3 {
  margin-bottom: 0.5625rem;
  font-family: "Libre Franklin", sans-serif;
  font-size: 0.875rem;
  color: #E27D60;
}

.our-servs-text-down-img-name p {
  margin-top: 0;
  font-family: "Work Sans", sans-serif, light;
  font-size: 0.75rem;
  color: #303030;
  opacity: 0.5;
}

.our-servs-img {
  width: 73.125rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
  margin-top: 2.5rem;
  margin-left: 30.125rem;
}

.our-servs-img img {
  margin-top: 2.5rem;
  margin-left: 23.25rem;
}

.our-team-people li {
  list-style: none;
}

.our-team {
  width: 73.125rem;
  margin: 0 auto;
  margin-bottom: 100px;
}

.our-team h3 {
  font-size: 1.25rem;
  font-family: "Libre Franklin", sans-serif;
  margin-bottom: 0.9375rem;
}

.our-team p {
  font-family: "Work Sans", sans-serif;
  color: #303030;
  opacity: 0.5;
}

.our-team img {
  width: 16.875rem;
  height: 22rem;
}

.our-team-title {
  text-align: center;
  margin: 0 auto;
}

.sub-up {
  margin-bottom: 0.625rem;
  font-family: "Work Sans";
  font-size: 1rem;
  color: #303030;
}

.sub-down {
  margin-bottom: 1.25rem;
  gap: 1.25rem;
  font-family: "Libre Franklin", sans-serif;
  font-size: 2.25rem;
  color: #E27D60;
}

.sub-down-2 {
  margin-bottom: 2.5rem;
  font-size: 1.125rem;
}

.our-team-people ul {
  padding: 0;
}

.our-team-people li {
  list-style: none;
}

.our-team-people-row1 {
  display: flex;
  gap: 1.875rem;
  margin-bottom: 2.125rem;
}

.our-team-people-row2 {
  display: flex;
  gap: 1.875rem;
}

.our-team-people-text {
  margin-left: 1.25rem;
}

.show-more {
  margin: 0 31.25rem;
  margin-top: 1.25rem;
  background-color: #303030;
  color: white;
  font-family: "Libre Franklin", sans-serif;
  font-size: 1.125rem;
  padding: 0.625rem 2.25rem 0.625rem 2.25rem;
  border-radius: 0.1875rem;
  border: #303030;
}

.pricing-landing {
  width: 73.125rem;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 6.25rem;
}
.pricing-landing .pricing-landing-sub-title {
  font-family: "Work Sans", sans-serif;
  color: #303030;
  font-size: 1rem;
}
.pricing-landing h2 {
  font-family: "Libre Franklin", sans-serif;
  font-size: 2.25rem;
  color: #E27D60;
}

.pricing-landing-prices {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
}

.pricing-landing-prices-1 .pricing-landing-prices-title {
  font-family: "Libre Franklin", sans-serif;
  font-size: 1.25rem;
  color: #303030;
}
.pricing-landing-prices-1 span {
  font-family: "Libre Franklin", sans-serif;
  font-size: 1.25rem;
  color: #E27D60;
}
.pricing-landing-prices-1 .pricing-landing-prices-description {
  text-align: left;
  font-family: "Work Sans", sans-serif;
  color: #303030;
  opacity: 0.5;
  font-size: 0.75rem;
}

.pricing-landing-button {
  color: white;
  background-color: #303030;
  padding: 0.625rem 2.25rem 0.625rem 2.25rem;
  font-family: "Libre Franklin", sans-serif;
  font-size: 1.125rem;
  border-radius: 0.1875rem;
  border-style: none;
  margin-top: 2.5rem;
}

.big-div3 {
  width: 1170px;
  height: 1201px;
  margin: 0px auto;
}

.product-lotion {
  width: 570px;
  height: 570px;
  margin-top: 101px;
}

.product-text {
  width: 509px;
  height: 570px;
  position: absolute;
  top: 400px;
  left: 1320px;
}

.product-h3 h3 {
  font-family: "Libre Franklin";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
}

.product-h3 p {
  font-family: "Libre Franklin";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
}

.product-button {
  font-family: "Libre Franklin";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  background-color: #E27D60;
  width: 130px;
  height: 30px;
  color: white;
  border: none;
}

.product-bar {
  margin-left: 245px;
}

.product-cantidad {
  margin-top: 40px;
}

.product-text2 {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  margin-top: 30px;
}

.product-media {
  margin-top: 30px;
}

.product-box {
  position: absolute;
  top: 560px;
  width: 500px;
  height: 42px;
  left: -10px;
  color: #ffffff;
  background-color: #303030;
  font-family: "Libre Franklin";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
}

.product-text3 {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

.product-h {
  font-family: "Libre Franklin";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  color: #E27D60;
}

.product-flex {
  display: flex;
  gap: 20px;
}

.product-review {
  width: 570px;
  height: 216px;
}

.product-div4 {
  text-align: center;
  width: 570px;
  height: 156px;
  border: #E6E6E6 2px solid;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}

.product-div4 p {
  margin: 30px;
}

.product-h6-1 {
  font-family: "Libre Franklin";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #E27D60;
  display: inline;
}

.product-h6-2 {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
}

#alex {
  position: absolute;
  right: 480px;
}

#melissa {
  position: absolute;
  left: 1030px;
  bottom: -310px;
}

.servs-discount {
  width: 120rem;
}

.servs-discount-text {
  z-index: 2;
  width: 56.875rem;
  height: 9.375rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
  position: relative;
  bottom: 15.625rem;
  gap: 10.1875rem;
}
.servs-discount-text p {
  font-family: "Libre Franklin", sans-serif;
  font-size: 4rem;
  color: white;
}

.servs-discount-text-title {
  display: flex;
  flex-direction: column;
  width: 36.4375rem;
}
.servs-discount-text-title h2 {
  font-family: "Libre Franklin", sans-serif;
  font-size: 4rem;
  color: white;
  margin: 0;
}
.servs-discount-text-title span {
  color: #E27D60;
}
.servs-discount-text-title p {
  font-family: "Work Sans", sans-serif;
  font-size: 1.125rem;
  color: white;
}

.shop-landing {
  width: 73.125rem;
  margin: 0 auto;
  text-align: center;
  margin-top: 6.25rem;
}
.shop-landing h2 {
  font-family: "Libre Franklin", sans-serif;
  font-size: 2.25rem;
  color: #E27D60;
}

.shop-landing-text-sub-title {
  font-family: "Work Sans", sans-serif;
  font-size: 1rem;
  color: #303030;
  opacity: 0.7;
}

.shop-landing-text-down {
  font-family: "Work Sans", sans-serif;
  font-size: 1.125rem;
  color: #303030;
  opacity: 0.6;
  width: 51.875rem;
  text-align: center;
  margin: 0 auto;
}

.shop-landing-text {
  margin-bottom: 2.5rem;
}

.shop-products {
  display: flex;
  justify-content: space-between;
}

.bar-shop-products {
  position: relative;
  bottom: 1.375rem;
}

.shop-products-text {
  text-align: left;
  margin-bottom: 2.5rem;
}
.shop-products-text h3 {
  font-family: "Libre Franklin", sans-serif;
  color: #303030;
  font-size: 1.25rem;
}

.shop-products-text-up {
  font-family: "Work Sans", sans-serif;
  font-size: 0.625rem;
  color: #303030;
  opacity: 0.5;
}

.shop-products-text-price {
  font-family: "Libre Franklin", bold;
  color: #E27D60;
  font-size: 1rem;
}

.text {
  width: 120rem;
  height: 31.875rem;
  background: linear-gradient(to right, #ffffff 0%, #ffffff 34.375%, #e6e6e6 34.375%, #e6e6e6 100%);
  display: flex;
  align-items: center;
}
.text .text-cont {
  width: 73.125rem;
  height: 23.125rem;
  display: flex;
  margin: 0 auto;
  align-items: center;
}
.text .text-cont .text-img {
  display: flex;
}
.text .text-cont .text-text {
  margin-left: 100px;
  width: 31.25rem;
  height: 198px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
.text .text-cont .text-text h3 {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #303030;
  margin: 0;
}
.text .text-cont .text-text h2 {
  font-family: "Libre Franklin";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  letter-spacing: 0.02em;
  margin: 0;
  color: #E27D60;
}
.text .text-cont .text-text p {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  margin: 0;
  color: #303030;
}
.text .text-cont .text-text a {
  text-decoration: none;
  background-color: #303030;
  color: white;
  font-family: "Libre Franklin", sans-serif;
  font-size: 1.125rem;
  padding: 0.625rem 2.25rem 0.625rem 2.25rem;
  border-radius: 0.1875rem;
  border: #303030;
}
.text .text-cont .text-text-v2 {
  height: 20.125rem;
}

.text-v2 {
  width: 1170px;
  height: 842px;
  margin: 0 auto;
}
.text-v2 .text-v2-bloq1 {
  display: flex;
  margin-bottom: 40px;
}
.text-v2 .text-v2-bloq1 .text-v2-text1 {
  margin-left: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.text-v2 .text-v2-bloq1 .text-v2-text1 h3 {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin: 0;
  color: #303030;
}
.text-v2 .text-v2-bloq1 .text-v2-text1 h2 {
  font-family: "Libre Franklin";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  letter-spacing: 0.02em;
  margin: 0;
  color: #E27D60;
}
.text-v2 .text-v2-bloq1 .text-v2-text1 p {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  margin: 0;
  color: #303030;
}
.text-v2 .text-v2-bloq2 {
  display: flex;
  flex-direction: row-reverse;
  margin-bottom: 40px;
}
.text-v2 .text-v2-bloq2 .text-v2-text2 {
  margin-right: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.text-v2 .text-v2-bloq2 .text-v2-text2 p {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  margin: 0;
  color: #303030;
}
.text-v2 .text-v2-bloq3 {
  width: 175px;
  margin: 0 auto;
}
.text-v2 .text-v2-bloq3 a {
  text-decoration: none;
  background-color: #303030;
  color: white;
  font-family: "Libre Franklin", sans-serif;
  font-size: 1.125rem;
  padding: 0.625rem 2.25rem 0.625rem 2.25rem;
  border-radius: 0.1875rem;
  border: #303030;
}

.product-toolbar {
  width: 1920px;
  height: 77px;
  background-color: #E27D60;
  position: relative;
  top: -18px;
}

.lupita {
  position: absolute;
  top: 25px;
  right: 380px;
}

.product-list {
  list-style: none;
  display: flex;
  justify-content: center;
  font-family: "Libre Franklin";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  gap: 25px;
  position: relative;
  top: 7px;
  right: 135px;
}

.product-list a {
  text-decoration: none;
  color: white;
  letter-spacing: 0.02em;
}

.treatments .treatments-container {
  width: 73.125rem;
  margin: 6.25rem auto;
}
.treatments .treatments-container .treatments-titles {
  text-align: center;
  margin-bottom: 1.9375rem;
}
.treatments .treatments-container .treatments-titles .treatmens-t {
  font-family: "Libre Franklin";
  font-size: 2.25rem;
  font-weight: 700;
  letter-spacing: 0.02em;
  color: #E27D60;
  margin: 0 auto;
}
.treatments .treatments-container .treatments-titles .treatmens-p {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin: 0.5rem auto;
}

.treatments-images {
  display: flex;
  justify-content: space-between;
}

/*# sourceMappingURL=styles.css.map */
